.App {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  margin: auto 0;
}

.fa-quote-left {
  transition: 1s;
}

#text, #author {
  transition: 1s;
}

.quote-text {
  display: flex;
  gap: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  font-size:1.65em;

}

.quote-author {
  padding-top:20px;
  font-size:1em;
  text-align:right;
  font-family: 'Montserrat', sans-serif;
}


#quote-box {
  border-radius:3px;
  padding:40px 50px;
  background-color:#fff;
  width: 30vw;
  margin-top: 25vh;
}

.button {
  height:38px;
  border:none;
  border-radius:3px;
  font-size:0.85em;
  margin-top:30px;
  cursor:pointer;
  width: 120px;
  color: white;
  transition: 1s;
}

button:hover {
  opacity:0.8;
}

#tweet-quote {
  float:left;
  padding:0px;
  padding-top:8px;
  text-align:center;
  height:30px;
  width:40px;
}

#new-quote {
  float:right;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: #fff;
}

.fa-twitter {
  padding: 0 10px;
}

@media only screen and (max-width: 840px) {
  .quote-text {
    font-size: 1em;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .quote-author {
    font-size: 0.75em;
  }
  #new-quote {
    font-size: 0.65em;
  }
  .fa-quote-left {
    font-size: 20px;
  }
}