.wrapper {
  min-width: 100vw;
  min-height: 100vh;
}

.body {
  transition: 2s;
}

.fa-quote-left {
  transition: 1s;
}

#text, #author {
  transition: 1s;
}

.quote-box {
  border-radius:3px;
  margin: auto;
  padding:40px 50px;
  display:table;
  background-color:#fff;
  position: relative;
  top: 240px;

  .quote-text {
      font-size:1.0em;
      font-family: 'Montserrat', sans-serif;
      margin-right: 0.4em;
      color: white;
      text-align:center;
      width:450px;
      height:auto;
      clear:both;
      font-weight:500;
      font-size:1.75em;

  }
  .quote-author {
    padding-top:20px;
    font-size:1em;
    text-align:right;
    font-family: 'Montserrat', sans-serif;
  }
  .buttons {
    .button {
      height:38px;
      border:none;
      border-radius:3px;
      font-size:0.85em;
      padding: 8px 18px 6px 18px;
      margin-top:30px;
      cursor:pointer;
      width: 120px;
      color: white;
      transition: 1s;
      &:hover {
        opacity:0.8;
      }
      &#tweet-quote{
        float:left;
        padding:0px;
        padding-top:8px;
        text-align:center;
        height:30px;
        width:40px;
      }
      &#new-quote {
        float:right;
      }
    }
  }
}

.footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: #fff;
}